<mat-card>
    <p>THIS IS FUCKIN NOTIFICATION THAT YOU ALWAYS MISSING BRO</p>
    <p>FUCK YOU !</p>
</mat-card>
<mat-card>
    <p>THIS IS FUCKIN NOTIFICATION THAT YOU ALWAYS MISSING BRO</p>
    <p>FUCK YOU !</p>
</mat-card>
<mat-card>
    <p>THIS IS FUCKIN NOTIFICATION THAT YOU ALWAYS MISSING BRO</p>
    <p>FUCK YOU !</p>
</mat-card>
<mat-card>
    <p>THIS IS FUCKIN NOTIFICATION THAT YOU ALWAYS MISSING BRO</p>
    <p>FUCK YOU !</p>
</mat-card>
<mat-card>
    <p>THIS IS FUCKIN NOTIFICATION THAT YOU ALWAYS MISSING BRO</p>
    <p>FUCK YOU !</p>
</mat-card>
<mat-card>
    <p>THIS IS FUCKIN NOTIFICATION THAT YOU ALWAYS MISSING BRO</p>
    <p>FUCK YOU !</p>
</mat-card>