<div class="header">
    <div class="inner-header">
        <ul>
            <li routerLink="/" class="logo">My<span>Site</span></li>
            <li class="nav">
                <ul>
                    <li routerLink="/entartaiment">entartaiment</li>
                    <li routerLink="/about">about</li>
                    <li routerLink="/contact">contact</li>
                </ul>
            </li>
            <li class="un-logged" routerLink="/register">register?</li>
        </ul>
    </div>
</div>