<div class="container">
    <div class="item item-a">
        <div>
            <div><i class="fa-brands fa-accessible-icon fa-8x"></i></div>
            <div>My name</div>
            <div>'My favorite phrase'</div>
        </div>
    </div>
    <div class="item item-b">
            <div class="UPButtons" (click)="walletRedirect()"><a>
                <div><i class="fa-solid fa-sack-dollar fa-4x"></i></div>
                <div>Wallet</div>
            </a></div>
            <div class="UPButtons" (click)="settingsRedirect()"><a>
                <div><i class="fa-solid fa-screwdriver-wrench fa-4x"></i></div>
                <div>Settings</div>
            </a></div>
            <div class="UPButtons" (click)="overviewRedirect()"><a>
                <div><i class="fa-solid fa-mountain-sun fa-4x"></i></div>
                <div>Overview</div>
            </a></div>
    </div>
</div>
<div class="container">
    <div class="item item-a"></div>
    <div class="item item-b"><img src="https://i.imgur.com/gUveEua.png" alt=""></div>
</div>