<div class="container">
    <div class="item item-a">
        <div>
            <div><i class="fa-brands fa-accessible-icon fa-8x"></i></div>
            <div>My name</div>
            <div>'My favorite phrase'</div>
        </div>
    </div>
    <div class="item item-b">
            <div (click)="walletRedirect()"><a>Wallet</a></div>
            <div (click)="settingsRedirect()"><a>Settings</a></div>
            <div (click)="overviewRedirect()"><a>Overview</a></div>
    </div>
</div>
<div class="container">
    <div class="item item-a"></div>
    <div class="item item-b"><img src="https://i.imgur.com/gUveEua.png" alt=""></div>
</div>