.container {
    display: grid;
    grid-template-columns: 20vw 64vw ;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px 1em;
    height:320px;
  }
.item{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-a>div>div:nth-child(odd){
    max-width: 150px;
    height: 20;
}
.item-a>div>div {
    display: flex;
    justify-content: center;
}
.item-b{
    justify-content: space-evenly;  
}

.item-b>div>a>div:nth-child(odd){
    position:relative;
    right:10px;
    bottom:10px
}
.UPButtons{
    cursor: pointer;
}
canvas{
    max-height: 400px;
    max-width: 60%;
}

::ng-deep .userpp {
	width: 100%;
	height: auto;
}