<div class="container">
    <div class="item item-a">
        <div>
            <div><i class="fa-brands fa-accessible-icon fa-8x"></i></div>
            <div>{{data._value.user.nickname}}</div>
            <div>'My favorite phrase'</div>
        </div>
    </div>
    <div class="item item-b">
            <div class="UPButtons" (click)="walletRedirect()"><a>
                <div><i class="fa-solid fa-sack-dollar fa-4x"></i></div>
                <div>Wallet</div>
            </a></div>
            <div class="UPButtons" (click)="settingsRedirect()"><a>
                <div><i class="fa-solid fa-screwdriver-wrench fa-4x"></i></div>
                <div>Settings</div>
            </a></div>
            <div class="UPButtons" (click)="overviewRedirect()"><a>
                <div><i class="fa-solid fa-money-bill-trend-up fa-4x"></i></div>
                <div>Top up</div>
            </a></div>
    </div>
</div>
<div class="container">
    <div class="item item-a"></div>
    <div class="item item-b">
        <canvas id="my-chart-u"></canvas>
    </div>
</div>