<mat-tab-group>
    <mat-tab label="Rules">
        <p>1. Be respectful, civil and welcoming.</p>
        <p>2. No insults, racism, sexism, homophobia, transphobia, and other kinds of discriminatory speech.</p>
        <p>3. No NSFW content.</p>
        <p>4. Do not misuse or spam in any of the channels.</p>
        <p>5. Discussions about controversial topics should be avoided at all times.</p>
        <p>6. Do not join the server to promote your content.</p>
        <p>7. The primary language of this server is English.</p>
        <p>8. No catfishing, impersonation, or pretending to be a moderator/staff member.</p>
        <p>9. When connected to a voice channel, do not mic spam.</p>
        <p>10. Respect Discord’s Terms of Service and Guidelines.</p>
    </mat-tab>
    <mat-tab label="Privacy Policy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum excepturi asperiores beatae nostrum eum sit esse sapiente hic, rem, voluptatem nihil earum soluta quod minus odio. Sapiente quam veritatis praesentium.
    Voluptas sunt, similique beatae aperiam, alias, culpa ipsum dolorem asperiores perferendis velit est optio iusto placeat totam dolorum laborum neque officia harum necessitatibus! Error deleniti a optio delectus eaque rerum.</mat-tab>
    <mat-tab label="FAQ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim odio, quae itaque veniam ab iusto. Ratione deserunt numquam ex commodi impedit, assumenda quibusdam perspiciatis quidem cum! Vero modi temporibus expedita?</mat-tab>
</mat-tab-group>
  