<mat-accordion class="example-headers-align">
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change avatar
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <input type="file" name="image" (change)="onFileChanged($event)">

      <mat-action-row>
        <button mat-button color="primary" (click)="onUpload()">Apply</button>
      </mat-action-row>
    </mat-expansion-panel>
  </form>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Set new favorite phrase
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
          <mat-label>If life..</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-action-row>
          <button mat-button color="primary">Apply</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change password
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
          <mat-label>Current password</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>New password</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-action-row>
          <button mat-button color="primary">Apply</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change nickname
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
          <mat-label>New nickname</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary">Apply</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change email
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
          <mat-label>New email</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary">Apply</button>
        </mat-action-row>
      </mat-expansion-panel>
</mat-accordion>