<div class="register-content">
    <div class="inner-register-content">
        <form [formGroup]="userForm">
            <div>                
                <label for="nickname">Nickname</label>    
                <input id="nickname" type="text" formControlName="nickname">
            </div>
            <div>
                <label for="password">Password</label>    
                <input id="password" type="password" formControlName="password">
            </div>
            <button type="submit" (click)="onSubmit()">Login</button>
        </form>
    </div>
</div>

