.register-content{
    display: flex;
    justify-content: center;
}
.inner-register-content{
    margin: 40px 10px;
    z-index: 1;
    width: 209.2px;
    height: 600px;
}
.inner-register-content>form{
    display: block;
}
form>div>label{
    font-size: 30px;
    text-transform: uppercase;
}
form>div>input{
    font-size: 18px;
}
form>button{
    margin: 10px 0px;
    width: 209.2px;
}