<h1>Get in touch</h1>
<p>If you have any questions or need help, please fill out the form below. We do our best to respond within 1 business day.</p>
<form [formGroup]="contactSign1">
<p>
    <mat-form-field appearance="legacy">
      <mat-label>Type your name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
</p>
<p>
    <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
  </mat-form-field>
</p>
</form>
<p>
    <mat-form-field>
        <mat-label>What do you want?</mat-label>
        <mat-select name="food" [(ngModel)]="purposeValue">
          <mat-option *ngFor="let purpose of purposes" [value]="purpose.viewValue">
            {{purpose.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<form [formGroup]="contactSign2">
<p>
    <mat-form-field appearance="legacy">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="Name" formControlName="subject">
      </mat-form-field>
</p>
<p>
    <mat-form-field class="example-full-width">
        <mat-label>Send message</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="message"></textarea>
    </mat-form-field>
</p>
<p>
    <button mat-raised-button color="primary" (click)="signContact()">Submit</button>
</p>
</form>