<div style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">
<div>
    <div style="width: 100%;  height: 40px; display: flex; justify-content: center; align-items: center;">
        <h3>TOP UP MENU</h3>
    </div>
    <mat-form-field appearance="fill" style="display: block;">
        <mat-label>Your moneytype</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" style="display: block;">
        <mat-label>Amount to topup</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <button mat-button color="primary">Submit</button>
    </div>
    
</div>
</div>