<div class="container">
    <div class="item"><span (click)="sendmailRedirect()">Send message ?</span></div>
    <div class="item">
        <div>Last mail</div>
        <div>
            <div>Who send?</div>
            <div>Topic of sended mail</div>
            <div>When</div>
        </div>
        <div>
            <div>Who send?</div>
            <div>Topic of sended mail</div>
            <div>When</div>
        </div>
        <div>
            <div>Who send?</div>
            <div>Topic of sended mail</div>
            <div>When</div>
        </div>
        <div>
            <div>Who send?</div>
            <div>Topic of sended mail</div>
            <div>When</div>
        </div>
        <div>
            <div>Who send?</div>
            <div>Topic of sended mail</div>
            <div>When</div>
        </div>
        <div>
            <div>Who send?</div>
            <div>Topic of sended mail</div>
            <div>When</div>
        </div>
    </div>
</div>