<div>
    <button mat-icon-button aria-label="Example icon-button with a heart icon"><mat-icon>send</mat-icon></button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon"><mat-icon>archive</mat-icon></button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon"><mat-icon>bookmark</mat-icon></button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon"><mat-icon>delete</mat-icon></button>
</div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Topic </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
</div>
