<div class="header">
    <div class="inner-header">
        <ul>
            <li routerLink="/" class="logo">My<span>Project</span></li>
            <li class="nav">
                <ul>
                    <li routerLink="/entartaiment">entartaiment</li>
                    <li routerLink="/about">about</li>
                    <li routerLink="/contact">contact</li>
                </ul>
            </li>
            <li class="profile-nav">
                <ul>
                    <li routerLink="/notification"><i class="fa-solid fa-bell"></i></li>
                    <li routerLink="/mailbox"><i class="fa-solid fa-inbox"></i></li>
                    <li routerLink="/userprofile"><i class="fa-brands fa-accessible-icon"></i></li>
                    <li><i class="fa-solid fa-door-open" (click)="logout()">Exit?</i></li>
                </ul>
            </li>
        </ul>
    </div>
</div>