<div class="register-content">
    <div class="inner-register-content">
        <form [formGroup]="userForm" >
            <div *ngIf="!showUserData">                
                <label for="nickname">Nickname</label>    
                <input id="nickname" type="text" formControlName="nickname">
            </div>
            <div *ngIf="!showUserData">
                <label for="moneytype">Money type</label>    
                <input id="moneytype" type="text" formControlName="moneytype">
            </div>
            <div *ngIf="!showUserData">
                <label for="amount">amount</label>    
                <input id="amount" type="text" formControlName="amount">
            </div>

            <button type="submit" [disabled]="!userForm.valid"  (click)="onSubmit()">Register!</button>
        </form>
    </div>
</div>

