<div class="register-content">
    <div class="inner-register-content">
        <form [formGroup]="userForm" >
            <div>                
                <label for="nickname">Nickname</label>    
                <input id="nickname" type="text" formControlName="nickname">
            </div>
            <div>
                <label for="amount">amount</label>    
                <input id="amount" type="number" formControlName="amount">
            </div>
            <p>already <a routerLink="/login"><span>registered?</span></a></p>
            <button type="submit"  (click)="onSubmit()" routerLink="/" >Register!</button>
        </form>
    </div>
</div>

