<div class="register-content">
    <div class="inner-register-content">
        <form [formGroup]="userForm">
            <div>                
                <label for="email">Email</label>    
                <input id="email" type="email" formControlName="email">
            </div>
            <div>                
                <label for="nickname">Nickname</label>    
                <input id="nickname" type="text" formControlName="nickname" minlength="4" maxlength="12">
            </div>
            <div>
                <label for="password">Password</label>    
                <input id="password" type="password" formControlName="password">
            </div>
            <div>
                <label for="repeatPassword">Repeat password</label>    
                <input id="repeatPassword" type="password" formControlName="repeatPassword">
            </div>
            <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="userForm.controls['email'].errors.required">
                Email is required.
                </div>
                <div *ngIf="userForm.controls['email'].errors.email">
                You need to use real email.
                </div>
                
        </div>
            <div *ngIf="userForm.controls['nickname'].invalid && (userForm.controls['nickname'].dirty || userForm.controls['nickname'].touched)" class="alert alert-danger">
                    <div *ngIf="userForm.controls['nickname'].errors.required">
                    Nickname is required.
                    </div>
                    <div *ngIf="userForm.controls['nickname'].errors.minlength">
                    Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="userForm.controls['nickname'].errors.maxlength">
                    Name mustn't be more than 12 characters long.
                    </div>
                    <div *ngIf="userForm.controls['nickname'].errors.pattern">
                    You cant use any symbols in your Nickname.
                    </div>
            </div>
            
            

            <p>already <a routerLink="/login"><span>registered?</span></a></p>
            <button type="submit"  (click)="onSubmit()" >Register!</button>
        </form>
    </div>
</div>

